footer {
    a {
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
    background: transparent url(/wp-content/uploads/2017/04/home-bottom-bkg.png) repeat-x;
    width: 100%;
    margin-top: -39px;
    @media #{$phone} {
        background: url(/wp-content/uploads/2017/04/footer-mobile.jpg) repeat;
    }
    .container {
        max-width: 960px;
        padding: 0;
        position: relative;
        background: transparent url(/wp-content/uploads/2017/04/home-bottom-image.png) top center no-repeat;
        margin: 0 auto;
        height: 318px;
        z-index: 70;
        @media #{$mobile} {
            height: auto;
        }
        @media #{$phone} {
             background: none;
        }
    }
    .bridge {
        padding: 0;
        position: relative;
        z-index: 70;
        height: 239px;
        margin: 0px 0px 0px 0px;
        text-align: center;
        > .left-shadow,
        > .left-shadow,
    	> .right-shadow {
    		background: transparent url(images/left-shadow.png) no-repeat;
    	    height: 239px;
    	    width: 46px;
    	    top: 0;
    		left: -46px;
    		width: 46px;
    	    z-index: 25;
    	    position: absolute;
    	}
    	> .right-shadow {
    		background: transparent url(images/right-shadow.png) no-repeat;
    		left: auto;
    		right: -46px;

    	}
        @media #{$mobile} {
            height: auto;
        }
        @media #{$phone} {
            margin-top: 32px;
        }
        p {
            color: #fff;
            padding: 3px 0px;
            font-weight: 400;
            font-size: 10pt;
            line-height: 1.5;
            margin-left: 25px;
            &.headline {
                font-family: helvetica;
                font-size: 13px;
                letter-spacing: 3px;
                font-weight: 900;
                margin: 1px 0 0 0;
                padding-bottom: 5px;
                text-transform: uppercase;
                @media #{$tablet} {
                    font-size: 11px;
                }
                @media #{$phone} {
                    margin-top: 10px;
                }


            }

        }
        .same {
            margin-top: 50px;
            height: 210px;
            @media #{$mobile} {
                margin-top: 10px;
                height: auto;
            }
        }
        .about {
            text-align: left;
            @media #{$tablet} {
                padding-bottom: 20px;
            }
            @media #{$phone} {
                text-align: center;
            }
            h2 {
                font-size: 12pt;
                color: #fff;
                letter-spacing: 3px;
                margin-left: 25px;
            }
            p {
                font-size: 10pt;
                line-height: 1.8;
            }
        }
        .nav {
            padding-left: 15px;
            ul {
                list-style: none;
                margin: 35px 0 0 0;
                text-align: left;
                padding-left: 0;
                @media #{$mobile} {
                    margin-top: 0;
                }
                @media #{$phone} {
                    text-align: center;
                }
                li {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    a {
                        font-size: 1.1em;
                    }
                    hr {
                        margin: 5px 0;
                    }
                }
            }

        }
        .address {
            text-align: left;
            @media #{$phone} {
                text-align: center;
            }
            img {
                max-width: 100%;
            }
            ul {
                margin-top: 35px;
            }
        }
        .copyright {
            margin-top: 10px;
            color: #fff;
            font-size: 9px;
            ul,
            li {
                display: inline-block;
                list-style: none;
                margin: 0;
                padding: 0;
                font-size: 9px;
            }
            a {
                color: #fff;
                font-size: 9px;
            }
            @media #{$mobile} {
                padding-bottom: 10px;
            }
        }

    }
}
