
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, ol, ul, li,
fieldset, form, label, legend,
table, caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 12px;
	font-family:Helvetica;
	vertical-align: baseline;
}

div, p, ul, ol, h1, h2, h3, h4, h5, img {
	margin: 0;
	padding: 0;
}

body {
	font-family: $primaryfont;
	font-size: $paragraphheight + px;
	font-weight: 400;
	line-height: 1;
	color: $bodyfontcolor;

}
sup {
	vertical-align: super;
    font-size: smaller;
    top: 0;
	position: inherit;
	line-height: inherit;
}
.content-wrapper {
	background: $sandstone;
}
.content-container {
	max-width: 960px;
	background: #fff;
	position: relative;
	> .left-shadow,
	> .right-shadow {
		background: transparent url(images/left-shadow.png) no-repeat;
	    height: 668px;
	    width: 46px;
	    top: 0;
		left: -46px;
		width: 46px;
	    z-index: 25;
	    position: absolute;
		@media #{$mobile} {
			display: none;
		}
	}
	> .right-shadow {
		background: transparent url(images/right-shadow.png) no-repeat;
		left: auto;
		right: -46px;

	}


	// @include container-fixed;
	//
    // @media (min-width: $screen-sm-min) {
    //   width: $container-sm;
    // }
    // @media (min-width: $screen-md-min) {
    //   width: $container-md;
    // }
    // @media (min-width: $screen-lg-min) {
    //   width: $container-lg;
    // }
}
.col-md-6 {
	img {
		max-width: 100%;
	}
}
img {
	max-width: 100%;
}
article {
	padding-bottom: 30px;
}
div,
iframe {
	max-width: 100%;
}
.clear {
	clear: both;
}
.footer-container {
	max-width: 960px;
	padding: 0;
}
.md-content {
	@include make-md-column(7);
}
.lg-content {
	@include make-md-column(9);
}
.xl-content {
	@include make-md-column(10);
	// padding-right: 0;
}
.menu-content, #innerContentMenu {
	@include make-sm-column(12);
	@include make-md-column(2);
	@media #{$mobile} {
		float: none;
		padding-bottom: 20px;
	}
}
.resources-content {
	@include make-sm-column(12);
	@include make-md-column(3);

}

h1, h2, h3, h4, h5 {
	margin-top: 0;
}
h1 {
	font-family: Arial;
	font-weight: normal;
	margin-top: 30px;
	margin-bottom: 23px;
}
p {
    line-height: inherit;
}
h1 {
    font-size: 2.0em;
}

h2 {
    font-size: 1.25em;
	&.anchor-item {
		width: 80%;
		min-height: 0.5em;
		overflow: visible;
		padding: 10px 20px 10px 0;
		margin-bottom: 10px;
		font-size: 1.2em;
		font-weight: bold;
		background: $brownderby;
		&:hover {
			color: #fff;
		}
		a {
			color: #fff;
			margin-left: 10px;
			&:hover {
				color: inherit;
				text-decoration: none;
			}
		}
	}
}

.smallspace {
    margin-bottom: 5px;
}

ul {
    list-style: none;
    margin-left: 25px;
	&.plain {
		margin-left: 0;
		li {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}
    li {
        list-style: disc;
        padding: 5px 0;
    }
}
nav {
	text-align: center;
	ul {
		display: table;
		margin: 0 auto!important;
		position: relative;
		list-style: none;
		margin: 0;
		padding: 0;
		color: inherit;
		li {
			list-style: none;
			display: inline-block;
			margin: 0;
			padding: 0;
			position: relative;
			&.menu-item-has-children {
				&:hover {
					> ul {
						display: block;
					}
				}
			}

			> ul {
				position: absolute;
				z-index: 100;
				display: none;
				text-align: left;
				padding: 0;
				margin: 0 auto;
				border: 1px solid $black;
				min-width: 260px;
				> li {
					width: 100%;
					&.menu-item-has-children {
						background-image: url(/wp-content/uploads/2017/04/menu-greytwo-r.gif)!important;
					    background-position: 97%!important;
					    background-repeat: no-repeat!important;
					}
				}
				ul {
					position: absolute;
					z-index: 101;
					width: 390px;
					left: 100%;
					top: -1px;
				}
			}
			> a {
				display: block;
				padding: 8px 3px;
			}
			a {
				color: inherit;
				text-decoration: none;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}
//

//
// .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
//     font-family: inherit;
//     font-weight: 500;
//     line-height: 1.1;
//     color: inherit;
// 	margin: 10px 0;
// }
//
// h1, .h1 {
// 	font-size: 60px;
//     line-height: 70px;
//     @media #{$desktopwide} {
// 	    font-size: 60px;
//     	line-height: 60px;
//     }
// }
//
// h2, .h2 {
// 	font-size: 30px;
// 	line-height: 45px;
// 	@media #{$phone} {
// 		font-size: 20px;
// 		line-height: 1.4;
// 	}
// 	&.larger {
// 		font-size: 36px;
// 		@media #{$phone} {
// 			font-size: 26px;
// 		}
// 	}
// }
//
// h3, .h3 {
// 	font-size: 24px;
// }
//
// h4, .h4 {
// 	font-size: 18px;
// 	line-height: 1.4;
// 	@media #{$phone} {
// 		font-size: 16px;
//
// 	}
// }
// p {
//     margin-top: 1em;
// }
// a {
//     color: $linkcolor;
//     &:hover,
//     &:focus {
//         color: darken($linkcolor, 20%);
//     }
// }
//
//
//
//
//
//
.linked {
	a {
		color: $brownderby;
	}
}

.text-light {
	font-weight: 100 !important;
}
.text-strong {
	font-weight: 600 !important;
}
.text-italics {
    font-style: italic;
}
.content-wrapper {
	.menu-content {

	}
	.resources-content {
		a[href$='.pdf'], a[href$='.pdf '] {
			padding: 5px 20px 5px 0;
			background: transparent url(/wp-content/uploads/2017/04/icon_pdf.gif) no-repeat center right;
		}
		a[href$='.doc'], a[href$='.docx'], a[href$='.rtf'] {
			padding: 5px 20px 5px 0;
			background: transparent url(/wp-content/uploads/2017/04/icon_doc.gif) no-repeat center right;
		}
		a[href$='.zip'], a[href$='.rar'], a[href$='.gzip'], a[href$='.bzip'], a[href$='.ace'] {
			padding: 5px 20px 5px 0;
			background: transparent url(/wp-content/uploads/2017/04/icon_archive.gif) no-repeat center right;
		}
		ul {
			// max-width: 135px;
			> li {
				> h3 {
					> a {
						font-weight: 700;
					}
				}
			}
		}
		h2 {
			a + br {
				font-weight: 700;
				// display: block;
				// background: red;
				// height: 10px;
				// + a {
				// 	font-weight: 700;
				// }
			}
		}
	}
}
.menu-content {
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		li {
			list-style-type: none;
			padding: 0;

			&.current-menu-item {
				a {
					display: block;
					margin-left: 8px;
				}

			}
		}
	}
	.current-menu-item,
	.current-menu-ancestor {
		a {
			font-weight: 700;
		}
	}
}
a:focus {
	color: inherit;
}
.fixphoneimage {
	display: block!important;
	width: 100%!important;
	text-align: center!important;
	h4 {
		margin-left: auto!important;
		margin-right: auto!important;
		max-width: 100%!important;
	}

}
