$black: #000;
$bluestone: #00685d;
$bluetone-accent: #c5fff7;
$midnightblue: #002c5f;
$midnightblue-accent: #a1ccff;
$gurka: #9d986d;
$gurka-accent: #e5daa3;
$stiletto: #a33038;
$stiletto-accent: #ffb0b6;
$windsor: #440781;
header {
    font-family: helvetica;
    font-size: 10px;
    line-height: 1;
    font-weight: 700;
    padding-top: 15px;
    @media #{$mobile} {
        padding-top: 0;
    }
    .container {
        padding-right: 0;
        padding-left: 0;
        max-width: 960px;
        @media #{$phone} {
            padding: 0;
        }
    }
    .logo {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        img {
            max-width: 100%;
            @media #{$phone} {
                max-height: 50px;
            }
        }
        @media #{$phone} {
            text-align: left;
        }
    }
    .utility-container {
        padding-left: 0;
        padding-right: 0;
        @media #{$mobile} {
            margin-top: 25px;
        }
        @media #{$phone} {
            display: none;
        }
    }
    .mobile {
        display: none;
        background: $bluestone;
        text-align: center;
        a {
            line-height: 50px;
            padding: 0;
            display: block;
            color: #fff;



        }
        @media #{$phone} {
            display: inherit;
            height: 50px;
            padding: 0;
        }
    }
    .large-menu {
        @media #{$phone} {
            display: none;
        }
    }
    nav {
        a {
            color: $bluestone;
            text-decoration: none;
            font-weight: bold;
        }
        &.utility-menu {
            ul {
                margin-left: 0!important;
                li {
                    padding: 0 8px;
                    border-right: 2px solid $bluestone;
                    &:last-child {
                        border: none;
                    }
                    // @media #{$mobile} {
                    //     border: none;
                    //     display: block;
                    //     text-align: left;
                    // }
                    a {
                        font-size: 0.9em;
                        color: $bluestone;
                        font-weight: 700;
                        padding: 0;
                        &:hover {
                            text-decoration: underline;
                        }

                    }
                }
            }
        }
        &.language-menu {
            @media #{$mobile} {
                margin-top: 12px;
            }

            > ul {
                margin-right: 0!important;
                @media #{$mobile} {
                    margin-right: auto!important;
                }
                > li {
                    &:first-child {
                        display: none;
                    }
                    ul {
                        min-width: 100px;
                        background: #efefef;
                        padding: 5px 0;
                        right: 0;
                        top: 24px;
                        li {
                            padding: 5px 10px;
                            &:hover {
                                background: #ccc;
                                color: #fff;
                                a {
                                    color: inherit;
                                }
                            }
                        }
                    }

                }
            }
        }
        &.main-menu {
            color: #fff;
            text-align: center;
            a {
                font-weight: 700;
                font-size: 10pt;

            }
            > ul {
                display: table;
                margin: 0 auto!important;
                position: relative;
                &:before,
                &:after {
                    width: 49px;
                    height: 33px;
                    content: ' ';
                    background-image: url(/wp-content/uploads/2017/04/main-menu-left.png);
                    position: absolute;
                    top: 0;
                }
                &:before {
                    left: -49px;
                }
                &:after {
                    background-image: url(/wp-content/uploads/2017/04/main-menu-right.png);
                    right: -48px;
                }
                > li {
                    background: $bluestone;
                    margin-right: 3px;
                    &.current-menu-ancestor {
                        > a {
                            text-decoration: underline;

                        }
                        > ul {
                            li.current-page-parent {
                                > a {
                                    text-decoration: underline;
                                }
                            }

                            li.current-menu-item {
                                a {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    &.current-menu-item {

                    }
                    > a {
                        padding: 8px 22px;
                    }
                    > ul {
                        background: inherit;
                        > li {
                            background: inherit;
                            > ul {
                                background: inherit;
                            }
                        }
                        li:hover {
                            background: $bluetone-accent;
                            > a {
                                color: $black;
                            }
                            ul {
                                background: $bluestone;
                            }
                        }
                    }
                    &:nth-child(2) {
                        background: $midnightblue;
                        li:hover {
                            background: $midnightblue-accent;
                        }
                        &.current-menu-ancestor {
                            > a {
                                text-decoration: underline;
                            }
                            > ul {
                                li.current-menu-ancestor {
                                    > a {
                                        text-decoration: underline;
                                    }
                                }
                                li.current-menu-item {
                                    a {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(3) {
                        background: $gurka;
                        li:hover {
                            background: $gurka-accent;
                        }
                        &.current-menu-ancestor {
                            > a {
                                text-decoration: underline;
                            }
                            > ul {
                                li.current-menu-ancestor {
                                    > a {
                                        text-decoration: underline;
                                    }
                                }
                                li.current-menu-item {
                                    a {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(4) {
                        background: $stiletto;
                        li:hover {
                            background: $stiletto-accent;
                        }
                        &.current-menu-ancestor {
                            > a {
                                text-decoration: underline;
                            }
                            > ul {
                                li.current-menu-ancestor {
                                    > a {
                                        text-decoration: underline;
                                    }
                                }
                                li.current-menu-item {
                                    a {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                    &:last-child {
                        background: $windsor;
                        margin-right: 0;
                    }
                    > a {
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    #search {
        @media #{$mobile} {
            margin-top: 15px;
        }
        form {
            text-align: right;
            @media #{$mobile} {
                text-align: left;
            }
        }
        label {
            color: $bluestone;
            span {
                font-size: 0.9em;
            }
        }
        .search-field {
            border-width: thin;
            border-color: #ccc;
        }
        #searchsubmit {
            background: url(/wp-content/uploads/2017/04/searchIcons.gif) 0 0 no-repeat;

            display: inline-block;
            width: 20px;
            height: 20px;
            margin-left: 2px;
            border: none;
            position: relative;
            top: 5px;
        }
    }
    .social-icons {
        text-align: right;
        a {
            font-size: 0.9em;
        }
        ul {
            margin-right: 0!important;

        }
    }
}
// Fonts
$sidr-font-family: Helvetica, sans-serif;
$sidr-font-size: 15px;

// Colors
$sidr-background: #f8f8f8;
$sidr-background-shadow-color: #ebebeb;
$sidr-text-color: #333;
$sidr-box-shadow-color: #000;
$sidr-input-background-color: #000;


.sidr {
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 260px;
    overflow-x: hidden;
    overflow-y: auto;
    .sidr-inner {
        padding: 0 0 15px;
        > p {
            margin-left: 15px;
            margin-right: 15px;
        }
        #sidr-id-nav-close {
            padding: 20px;
            text-align: right;
            cursor: pointer;
            a {
                color: $bluestone;
            }
        }
    }
    &.right {
        left: auto;
        right: -260px;
    }
    font-family: $sidr-font-family;
    font-size: $sidr-font-size;
    background: $sidr-background;
    color: $sidr-text-color;
    box-shadow: 0 0 5px 5px $sidr-background-shadow-color inset;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        // @include background-image(linear-gradient(lighten($sidr-background, 10%), darken($sidr-background, 10%)));
        font-size: $sidr-font-size - 4;
        font-weight: normal;
        padding: 0 15px;
        margin: 0 0 5px;
        color: $sidr-text-color;
        line-height: 24px;
        box-shadow: 0 5px 5px 3px rgba($sidr-box-shadow-color, .2);
    }

    p {
        font-size: $sidr-font-size - 2;
        margin: 0 0 12px;

        a {
            color: rgba($sidr-text-color, .9);
        }
    }

    > p {
        margin-left: 15px;
        margin-right: 15px;
    }

    ul {
        display: block;
        margin: 0 0 15px;
        padding: 0;
        border-top: 1px solid darken($sidr-background, 10%);
        border-bottom: 1px solid lighten($sidr-background, 10%);

        li {
            display: block;
            margin: 0;
            line-height: 30px;
            border-top: 1px solid lighten($sidr-background, 10%);
            border-bottom: 1px solid darken($sidr-background, 10%);

            &.active,
            &.sidr-class-active {
                border-top: 0;
                line-height: 30px;

                > a,
                > span {
                    box-shadow: 0 0 15px 3px $sidr-background-shadow-color inset;
                }
            }

            a,
            span {
                padding: 0 15px;
                display: block;
                text-decoration: none;
                color: $sidr-text-color;
            }
            &.sidr-class-menu-item-has-children {
                position: relative;
                .sidr-dropdown {
                    cursor: pointer;
                    position: absolute;
                    right: 8px;
                    width: 45px;
                    height: 30px;
                    padding: 0;
                    line-height: 2.4;
                    text-align: center;
                }
                ul {
                    display: none;

                }
                > ul {
                    > ul {
                        > li {
                            padding-left: 10px;
                        }
                    }
                }
                li {
                    background: #ccc;

                    a,
                    span {
                        line-height: 1.5;
                        padding-top: 6px;
                        padding-bottom: 6px;
                        color: #000;
                    }
                }
            }

            ul {
                border-bottom: 0;
                margin: 0;

                li {
                    line-height: 40px;
                    font-size: $sidr-font-size - 2;

                    &:last-child {
                        border-bottom: 0;
                    }

                    &.active,
                    &.sidr-class-active {
                        border-top: 0;
                        line-height: 41px;

                        > a,
                        > span {
                            box-shadow: 0 0 15px 3px $sidr-background-shadow-color inset;
                        }
                    }

                    > a,
                    > span {
                        color: rgba($sidr-text-color, .8);
                        padding-left: 22px;
                    }
                    > ul {
                        > li {
                            > a {
                                padding-left: 30px;
                            }
                        }
                    }
                }
            }
        }
    }

    form {
        margin: 0 15px;
    }

    label {
        font-size: $sidr-font-size - 2;
    }

    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea,
    select {
        width: 100%;
        font-size: $sidr-font-size - 2;
        padding: 5px;
        @include box-sizing(border-box);
        margin: 0 0 10px;
        border-radius: 2px;
        border: 0;
        background: rgba($sidr-input-background-color, .1);
        color: rgba($sidr-text-color, .6);
        display: block;
        clear: both;
    }

    input[type=checkbox] {
        width: auto;
        display: inline;
        clear: none;
    }

    input[type=button],
    input[type=submit] {
        color: $sidr-background;
        background: $sidr-text-color;
    }
    #sidr-id-mobile-social {
        li {
            a {
                display: inline-block!important;
                padding: 0 3px!important;
            }
        }
    }

}
