$sandstone: #7d7169;
$black: #000;
$gurka: #9d986d;
$bluestone: #00685d;
$midnightblue: #002c5f;
$stiletto: #a33038;
$brownderby: #522c1b;
$avacodo: #999966;
$primaryfont: helvetica, Arial, sans-serif;

//don't include pixels on the height;
$paragraphheight: 12;
$bodyfontcolor: #000;


$desktopwidewidth: 1200px;
$desktopwidth: 993px;
$tabletwidth: 768px;
$phonewidth: 481px;
$iphonewidth: 320px;
$desktopnarrow: 991px;

$desktopmaxwidth: $desktopwidewidth -1;
$tabletmaxwidth: $desktopwidth - 1;
$phonemaxwidth: $tabletwidth - 1;
$phonenarrowwidth: $phonewidth - 1;

//********************** MEDIA QUERIES **********************/
$desktopwide: "only screen and (min-width: #{$desktopwidewidth})";

$tablet: "only screen and (min-width: #{$tabletwidth}) and (max-width: #{$tabletmaxwidth})";
$phonewide: "only screen and (min-width: #{$phonewidth}) and (max-width: #{$phonemaxwidth})";
$phonenarrow: "only screen and (max-width: #{$phonenarrowwidth})";
$iphone: "only screen and (max-width: #{$iphonewidth})";

//********************** MEDIA SHORTCUTS **********************/
$mobile: "only screen and (max-width: #{$tabletmaxwidth})";
$phone: "only screen and (max-width: #{$phonemaxwidth})";

$tabletup: "only screen and (min-width: #{$tabletwidth})";
@mixin fiximage() {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@import 'bootstrap';
@import 'pages';
@import 'global';
@import 'header';
@import 'footer';
@import 'modules';
