<div id="innerContent" class="inner-content-home">
       <h1>La Compañía D. S. Brown Acerca</h1>
       <table cellpadding="0" cellspacing="0" style="margin: 10px auto; width: 805px">
          <tbody><tr>
             <td style="width: 325px"><h2 class="linked"><a id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_HyperLink1" href="#Profile">Perfil Compañía</a></h2></td>
             <td style="width: 0"></td>
             <td><h2 class="linked"><a id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_HyperLink16" href="#products-overview">Products Overview</a></h2></td>
          </tr>
          <tr>
             <td style="width: 325px"><h2 class="linked"><a id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_HyperLink2" href="#Markets">Mercados</a></h2></td>
             <td style="width: 0"></td>
             <td><h2 class="linked"><a id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_HyperLink19" href="#mission-statement">Mission Statement</a></h2></td>
          </tr>
          <tr>
             <td style="width: 325px"><h2 class="linked"><a id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_HyperLink3" href="#Operations">Operaciones</a></h2></td>
             <td style="width: 0"></td>
             <td><h2 class="linked"><a id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_HyperLink14" href="#vision-statement">Vision Statement</a></h2></td>
          </tr>
          <tr>
             <td><h2 class="linked"><a id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_HyperLink4" href="#Engineering">Ingeniería</a></h2></td>
             <td></td>
             <td><h2 class="linked"><a id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_HyperLink17" href="#core-values">Valores Fundamentales</a></h2></td>
          </tr>
          <tr>
            <td><h2 class="linked"><a id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_HyperLink18" href="#signature">Signature Projects</a></h2></td>
            <td></td>
            <td><h2 class="linked"><a id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_HyperLink21" href="Employment.aspx">Empleo</a></h2></td>
          </tr>

       </tbody></table>

       <a name="Profile"></a>
       <h2 class="anchor-item"><a id="Profile">Perfil Compañía</a></h2>
       <p>
          <span id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_Label1">Fundada en 1890, la <strong>Compañía D.S. Brown</strong> es la principal diseñadora mundial, proveedora y fabricante de productos de ingeniería para la industria de puentes y autopistas. El centro de operaciones de D.S. Brown se encuentra ubicado en el Norte de Baltimore, Ohio.</span></p>
       <p>
          <span id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_Label2">D.S. Brown está <strong>plenamente integrada</strong>, llevando a cabo y controlando todos los procesos de fabricación a nivel interno:</span></p>
       <ul>
          <li><span id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_Label3">Investigación y desarrollo</span></li>
          <li><span id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_Label4">Diseño de ingeniería/Detallado CAD</span></li>
          <li><span id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_Label5">Extrusión, moldeado y pruebas</span></li>
          <li><span id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_Label6">Fabricación y mecanizado customizados de acero</span></li>
       </ul><br>
       <p><a id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_HyperLink5" href="#top">&gt;&gt; volver a la cima &lt;&lt;</a></p>
       <p style="clear: both"></p>


       <a name="Markets"></a>
       <h2 class="anchor-item"><a id="Markets">Mercados</a></h2>
       <img id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_Image3" src="../Images/Overview/poltbevd.gif" style="border-width:0px;float: right; margin: 1px 0 20px 5px">
       <p><span id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_Label7">Los <strong>principales mercados</strong> de D.S. Brown son los mercados de la construcción de infraestructuras de transporte con especial énfasis en puentes y pavimento de hormigón. Dentro de estos mercados, D.S. Brown dirige negocios en todo el territorio de Norte América, Asia, el Pacific Rim, India y Oriente Medio.</span></p>
       <p><a id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_HyperLink11" href="Employment.aspx"> &gt;&gt; Empleo &lt;&lt; </a><br>
       <a id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_HyperLink6" href="#top">&gt;&gt; volver a la cima &lt;&lt;</a></p>
       <p style="clear: both"></p>


       <a name="Operations"></a>
       <h2 class="anchor-item"><a id="Operations">Operaciones</a></h2>
       <img id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_Image2" src="../Images/Overview/Operations.jpg" style="border-width:0px;float: right">
       <p><span id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_Label8">D.S. Brown está plenamente integrada, con el <strong>procesamiento de caucho sintético</strong>, la <strong>fabricación de acero</strong> y el <strong>mecanizado de Control numérico (CNC)</strong> como competencias básicas.   Los servicios también incluyen: <a href="/Resources/PDF/AISC_Cert_2017_DSB.pdf" target="_blank"><strong>AISC Certificaciones</strong>: <strong>Puentes de acero simple con endoso sobre pinturas sofisticadas.</strong></a></span></p>
       <!--<p>D.S. Brown's U.S. <strong>operations</strong> are fully integrated, with <strong>synthetic rubber
    processing</strong>, <strong>steel fabrication</strong>, and <strong>CNC machining</strong> being core competencies. These
    facilities have attained the following industry quality certifications.</p>
       <ul>
          <li><strong>AISC</strong>: Simple Steel Bridges with Sophisticated Paint endorsement (North Baltimore, Ohio)</li>
          <li><strong>AISC</strong>: Major Steel Bridges with Fracture Critical and Sophisticated Paint endorsements (Chaska, Minnesota)</li>
          <li><strong>Canadian Welding Bureau</strong>: Division 1 (Chaska, Minnesota)</li>
       </ul>-->
       <p></p>
       <p><a id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_HyperLink12" href="Employment.aspx">&gt;&gt; Empleo &lt;&lt;</a><br>
       <a id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_HyperLink7" href="#top">&gt;&gt; volver a la cima &lt;&lt;</a></p>
       <p style="clear: both"></p>


       <a name="Engineering"></a>
       <h2 class="anchor-item"><a id="Engineering">Ingeniería</a></h2>

       <img id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_Image4" src="../Images/Overview/engineering.jpg" style="border-width:0px;float: left; margin: 1px 10px 15px 15px">
        <p><span id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_Label9">D.S. Brown mantiene una plantilla de <strong>ingeniería</strong> en cada uno de sus centros de Norte de Baltimore, Ohio. Las capacidades de ingeniería de D.S. Brown exceden con mucho la norma industrial y permiten a la compañía emprender proyectos de construcción con soluciones de ingeniería para cumplir los requisitos específicos de los proyectos.</span></p>
        <p></p>
        <p style="margin-left: 100px"><a id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_HyperLink13" href="Employment.aspx">&gt;&gt; Empleo &lt;&lt;</a><br>
        <a id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_HyperLink8" href="#top">&gt;&gt;volver a la cima&lt;&lt;</a></p>

        <p style="clear: both"></p>


       <a name="signature"></a>
       <h2 class="anchor-item">
           <a id="signature">D.S. Brown Bridge and Pavement Signature Projects</a>
       </h2>
       <img src="/wp-content/uploads/2017/04/HomerHadPaper1.jpg" style="float:right;">
        <p>
            <a href="#" onclick="window.open('./FlashGallery.htm', '_blank', 'location=no, menubar=no, resizable=no, status-no, width=820,height=540')"><span id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_LabelFlash">Click here to load the D.S. Brown Interactive Flash Presentation</span></a>
       </p>
       <p>
           <a id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_hlSignatureProjects" href="../Resources/DSBrown_Signature_Projectslowres.pdf" target="_blank">Please view our Signature Projects Portfolio</a>
       </p>
       <p><a id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_HyperLink10" href="#top">&gt;&gt; volver a la cima &lt;&lt;</a></p>
       <p style="clear:both;">&nbsp;</p>


       <a name="products-overview"></a>
       <h2 class="anchor-item"><a>Products Overview</a></h2>

       <div style="margin: 15px 0 15px 40px"><iframe width="640" height="390" src="https://www.youtube.com/embed/07C9iSCl-5U" frameborder="0" allowfullscreen=""></iframe></div>

       <p><a id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_HyperLink20" href="#top">&gt;&gt; volver a la cima &lt;&lt;</a></p>


       <a name="mission-statement"></a>
       <h2 class="anchor-item"><a>Mission Statement</a></h2>
       <p>Ser un líder mundial en soluciones para movimiento estructural, protección y reparación a los mercados de puentes, pavimentos e infraestructura industrial. Esta misión se alcanzará procurando incesantemente lograr</p>
<ul>
<li>una relación mutuamente gratificante con los empleados,</li>
<li>una calidad y un servicio al cliente de nivel internacional,</li>
<li>la inversión en innovación,</li>
<li>una reducción continua de los costos operativos,</li>
<li>y la promoción de nuestras marcas.</li>
</ul>
       <p><a id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_HyperLink9" href="#top">&gt;&gt; volver a la cima &lt;&lt;</a></p>


       <a name="vision-statement"></a>
       <h2 class="anchor-item"><a>Vision Statement</a></h2>
       <p>Tendemos puentes al mundo con soluciones líderes en infraestructura</p>


       <a name="core-values" "=""></a>
       <h2 class="anchor-item"><a>Nuestros Valores Fundamentales</a></h2>
       <p>Tenemos el compromiso de mantener el más alto nivel de integridad en nuestras relaciones comerciales con individuos, organizaciones y gobiernos locales, estatales, federales y extranjeros. Nuestra organización posee una destacada reputación de larga data de cumplir las más elevadas normas éticas. Estamos orgullosos de nuestra reputación y consideramos que es la base de nuestro éxito futuro y una parte integral de la solidez de nuestra marca. Nuestros valores fundamentales incluyen:</p>
       <ul>
            <li>
            <h3>Nuestros clientes:</h3>

<p>Consideramos que la lealtad de los clientes es nuestra mayor recompensa. Nos comprometemos a brindar el mejor valor ofreciendo productos y servicios de la más alta calidad a precios competitivos.</p>
            </li>
            <li>
            <h3>Nuestros proveedores:</h3>

<p>Tenemos el compromiso de atraer y conservar a nuestros proveedores con la mayor integridad y con el objetivo de establecer relaciones comerciales duraderas.</p>
            </li>
            <li>
            <h3>Nuestro equipo:</h3>
<p>Tenemos el compromiso de tratar a nuestros compañeros de equipo con dignidad y respeto mutuo. Valoramos la diversidad, el trabajo en equipo, el desarrollo continuo y la innovación. Procuramos brindar un entorno de trabajo seguro y salubre, y un ambiente abierto a la comunicación con todos los miembros del equipo. Reconocemos la importancia de ser responsables y de mostrar orgullo, entusiasmo y dedicación en todo lo que hacemos.</p>
            </li>
            <li>
            <h3>Nuestros accionistas:</h3>
<p>Tenemos el compromiso de ofrecer a nuestros accionistas una recuperación superior de la inversión mediante un uso responsable y prudente de los recursos corporativos y asumiendo una conducta legal y ética del más alto nivel.</p>
            </li>
            <li>
            <h3>Nuestra comunidad:</h3>
<p>Continuaremos siendo un ciudadano corporativo activo y responsable dentro de las comunidades en las que operamos.</p>
            </li>
       </ul>
       <p><a id="ctl00_ctl00_ContentWrapperPlaceHolder1_ContentPlaceHolder1_HyperLink15" href="#top">&gt;&gt; volver a la cima &lt;&lt;</a></p>






        <p style="clear: both"></p>
    </div>
