.business-card {
    background: #f4eec7;
    color: #006633;
    width: 450px;
    min-height: 183px;
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    padding: 0!important;
    margin-bottom: 30px;
    > .col-sm-6 {
        @media #{$phone} {
            padding-right: 15px!important;
            padding-bottom: 15px!important;
        }
    }
    @media #{$mobile} {
        width: 100%;

    }
    p {
        font-size: 12px;
        line-height: 21.6px;
        margin-bottom: 6px;
    }
    a[href^="mailto:"] {
        padding: 5px 20px 5px 0;
        background: transparent url(/wp-content/uploads/2017/04/icon_mailto.gif) no-repeat center right;
    }
    img {
        max-width: 100%;
    }
}
.contact-us, .employment-application {
    .contact-page-content {
        margin-left: 15px;
        h1 {
            padding-left: 0;
        }
        img {
            cursor: pointer;
        }
    }
    .form-container {
        padding-bottom: 25px;
        .form-field {
            margin-bottom: 20px;
            .message {
                display: none;
                font-size: 12px;
                color: red;
                text-align: right;
            }


            label {
                display: inline-block;
                width: 30%;
                text-align: left;
                @media #{$phone} {
                    display: block;
                    width: 100%;
                }
            }
            label[for=attachment] {
                width: 50%;
            }
            input[type="file"] {
                display: inline-block;
                width: 48%;
                @media #{$phone} {
                    width: 100%;
                }
            }
            input,
            select,
            textarea {
                width: 60%;
                text-align: left;
                @media #{$phone} {
                    width: 100%;
                }
            }
            #bridge-dropdown {
                @media #{$mobile} {
                    display: none;
                }
            }



        }
        .submit-container {
            text-align: center;
            input {
                display: inline-block;
            }
        }
    }
    .lp {
        background: #fff;
        padding: 10px;
    }

}
#loading-background {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    .spinner {
      margin: 250px auto;
      width: 50px;
      height: 40px;
      text-align: center;
      font-size: 10px;
      h2 {
          text-align: center;
          color: #fff;
      }
    }

    .spinner > div {
      background-color: #fff;
      height: 100%;
      width: 6px;
      display: inline-block;

      -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
      animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .spinner .rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }

    .spinner .rect3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }

    .spinner .rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }

    .spinner .rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }

    @-webkit-keyframes sk-stretchdelay {
      0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
      20% { -webkit-transform: scaleY(1.0) }
    }

    @keyframes sk-stretchdelay {
      0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
      }  20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
      }
    }
}
#sales-rep-container {
    #sales-rep-button {
        cursor: pointer;
    }

    display: none;
    padding-bottom: 30px;
    .sales-rep-state {
        visibility: hidden;
    }
    #sales-rep-content {
        margin-left: 15px;
        label {
            width: 150px;
            margin-bottom: 8px!important;
            @media #{$phone} {
                display: block;
                width: 100%;
            }
        }
        select {
            @media #{$phone} {
                display: block;
                width: 100%;
            }
        }
        .sales-rep-country {

        }

    }
}
.employment-application {
    .benefits {
        margin-bottom: 20px;
        > div {
            > div {
                @media #{$phone} {
                    margin-top: 0;
                }
            }
        }
    }
    form {
        > div {
            margin-bottom: 6px;
            > label {
                display: inline-block;

                width: 33%;
                @media #{$mobile} {
                    width: 100%;
                }
            }
            br {
                display: none;
            }
            input {
                width: 50%;
                @media #{$mobile} {
                    width: 100%;
                }
            }
            textarea {
                @media #{$phone} {
                    width: 100%;
                }
            }
        }
    }

}
