
.home {
    // .container {
    //     max-width: 960px;
    // }
    .content-container {
        padding: 0;
        max-width: 930px;
        article {
            background: #7d7169;
            padding-bottom: 0;
        }

        .rev_slider_1_1_wrapper {
            h3 {
                font-size: 10px;
                letter-spacing: 3px;
            }
            h4 {
                font-size: 9px;
            }
        }



        .reslide_navigator,
        .reslide_arrow_left,
        .reslide_arrow_right {
             display: none!important;
        }
        #slider2_container,
        #slider4_container,
        #slider5_container,
        #slider6_container,
        #slider7_container {
            margin-bottom: 0!important;
            .reslidetitle {
                background: url(/wp-content/uploads/2017/04/home-slider-title-bkg.png) left center no-repeat!important;
                height: 42px;
                width: 60%;
                top: 190px;
                left: -2px;
                > div,
                >span {
                    background: none;
                    &:hover {
                        background: none;
                    }
                }
                > span {
                    line-height: 1.5;
                }
                span {
                    font-size: 1em;
                    font-weight: 800;
                    text-align: left;
                    margin: -4px 0 0 40px;

                    > span {
                        font-weight: 400;
                        margin: 0;
                        display: block;
                        font-size: .8em;
                    }
                }

            }
        }
        // max-width: 960px;
        // article {
        //     background: none;
        //     padding-bottom: 0;
        // }
        // .reslide_navigator,
        // .reslide_arrow_left,
        // .reslide_arrow_right {
        //      display: none!important;
        // }
        // #slider2_container {
        //     background: #7d7169;
        //     > div {
        //         // what happened to this slider
        //         // transform: scale(1)!important;
        //     }
        // }
        // #slider2_container,
        // #slider4_container,
        // #slider5_container,
        // #slider6_container,
        // #slider7_container {
        //     margin-bottom: 0!important;
        //     .reslidetitle {
        //         background: url(/wp-content/uploads/2017/04/home-slider-title-bkg.png) left center no-repeat!important;
        //         height: 42px;
        //         width: 60%;
        //         top: 190px;
        //         left: -2px;
        //         > div,
        //         >span {
        //             background: none;
        //             &:hover {
        //                 background: none;
        //             }
        //         }

        //         span {
        //             font-size: 8pt;
        //             font-weight: 700;
        //             text-align: left;
        //             letter-spacing: 3px;
        //             margin: -8px 0 0 40px;
        //             line-height: 16px;
        //             @media #{$phone} {
        //                 font-size: 32px!important;
        //                 line-height: 1;
        //             }
        //             > span {
        //                 font-weight: 400;
        //                 margin: 0;
        //                 display: block;
        //                 font-size: 10px;
        //                 letter-spacing: normal;
        //                 @media #{$phone} {
        //                     margin-top: 8px;
        //                     font-size: 28px!important;
        //                     line-height: 1;
        //                 }
        //             }
        //         }
        //         @media #{$phone} {
        //             height: 100px;
        //             top: auto;
        //             bottom: 0;
        //             width: 100%;
        //             margin-top: 10px;
        //             background: #007d66!important;
        //             font-size: 12px;
        //         }


        //     }

        //     /* Sweeden */
        //     .slide2_12 {
        //         .reslidetitle {
        //             > span {
        //                 margin-top: -4px;
        //                 font-size: 11pt;
        //                 > span {
        //                     font-size: 10px;
        //                 }
        //             }
        //         }
        //     }
        //     /* Columbus, OH */
        //     .slide2_8 {
        //         .reslidetitle {
        //             > span {
        //                 margin-top: -4px;
        //                 font-size: 8pt;

        //             }
        //         }
        //     }
        //     /* Las Vegas */
        //     .slide2_11 {
        //         .reslidetitle {
        //             > span {
        //                 margin-top: -4px;
        //                 font-size: 8pt;

        //             }
        //         }
        //     }
        //     /* MN */
        //     .slide2_10 {
        //         .reslidetitle {
        //             > span {
        //                 margin-top: -5px;
        //                 font-size: 7.5pt;

        //             }
        //         }
        //     }

        // }
    }
    footer {
        margin-top: -39px;
    }
}
