article {
    &#post-17 {
        .lg-content {
            h2 {
                margin-top: 15px;
            }
            .image-size.half {
                width: 45%;
                clear: none;
                min-height: 298px;
                @media #{$tablet} {
                    min-height: 320px;
                }
                @media #{$phone} {
                    min-height: 275px;
                }
            }
        }
        .resources-content {
            ul {
                li {
                    > h2 {
                        margin-bottom: 0;
                        a {
                            font-size: 12px!important;
                        }
                    }
                }
            }
        }

    }
    &#post-9, &#post-16 {
        .col-md-12 {
            .col-md-12:not(.plain) {
                > h2 {
                    background: #522c1b;
                    padding: 10px;
                    color: #fff;
                    font-weight: 700;
                    > a {
                        font-size: 14.4px;
                        padding: 10px 0;
                        text-decoration: none;
                    }

                }
            }
            ul {
                &.col-md-6 {
                    &.plain {
                        margin-left: 32.5px;
                        max-width: 33%;
                        @media #{$phone} {
                            display: inline-block;
                            max-width: 30%;
                            margin-left: 30px;
                        }
                        li {
                            h2 {
                                margin: 0;
                                padding: 0;

                                a {
                                    font-size: 13.5px;
                                    line-height: 18px;
                                }
                            }
                        }
                    }
                }
            }

        }

    }
    &#post-9 {
        h1 {
            color: #522c1b!important;
        }
        ul {
            &.plain {
                h2 {
                    a {
                        // color: #522c1b!important;
                    }
                }

            }
        }
    }
    &#post-273 {

    }
    &#post-38 {
        .md-content {
            > img {
                max-width: 200px;
                float: right;
                margin: 0 0 10px 10px;
                @media #{$phone} {
                    max-width: 100%;
                }

            }
            h2 {
                margin-top: 15px;
                clear: both;
            }
        }
    }
    &#post-124 {
        .md-content {
            img {
                margin-left: 15px!important;
            }
        }
    }
    &#post-34 {
        .md-content {
            img[src*="Boston"] {
                max-width: 200px;
            }
        }
    }
    &#post-24 {
        .md-content {
            h2 {
                margin-top: 15px;
            }
        }
    }
    &#post-19 {
        .md-content {
            h2 {
                margin-top: 15px;
            }
        }
    }
    &#post-140 {
        .md-content {
            h2 {
                margin-top: 15px;
            }
        }
    }
    &#post-23 {
        .md-content {
            h4 {
                margin-top: 10px;
            }
            img {
                margin-top: 10px;
            }
        }
    }
    &#post-37 {
        .lg-content {
            .col-md-6 {
                min-height: 240px;
                @media #{$tablet} {
                    width: 50%;
                    float: left;
                    min-height: 250px;
                }
                @media #{$phone} {
                    min-height: initial;
                    margin-bottom: 10px;
                }
            }
        }
    }
    &#post-14, &#post-2714 {
        .lg-content {
            .image-right {
                text-align: center;
                p {
                    display: none;
                }
            }
            .fixpage-14 {
                max-width: 48%;
                @media #{$mobile} {
                    max-width: 50%;
                }
                @media #{$phone} {
                    max-width: 42%;
                }


            }
        }
    }
    &#post-29, &#post-28 {
        .lg-content {
            > div {
                margin-left: 10px;
                > img {
                    margin-bottom: 10px;
                }
                @media #{$phone} {
                    margin: 0 0 10px 0;
                }
            }
            p img {
                max-width: 58%;
                margin-top: 10px;
                @media #{$phone} {
                    max-width: 100%;
                }
            }
        }
    }
    &#post-35 {
        .lg-content {
            .image-right {
                @media #{$phone} {
                    width: 50%;
                }
                .half {
                    @media #{$phone} {
                        width: 100%;
                    }

                }
            }
        }
    }
    &#post-27 {
        .lg-content {
            > div {
                > div {
                    @media #{$phone} {
                        float: none!important;
                    }
                    img {
                        display: block;
                        margin: 10px 0;
                        @media #{$phone} {
                            margin: 10px auto;
                        }
                    }
                }
            }

        }
    }
    &#post-18 {
        .entry-content {
            a {
                color: $bluestone;
            }
            > table {
                width: 100%!important;
                max-width: 100%;
                margin-left: 32.50px!important;
                @media #{$phone} {
                    margin-left: auto!important;
                }
                td {
                    h2 {
                        margin: 0;
                        padding: 0;
                        a {
                            font-size: 13.5px;
                            line-height: 18px;
                        }
                    }
                }
            }
            > h2 {
                background: #522c1b;
                padding: 10px;
                color: #fff;
                font-weight: 700;
                a {
                    color: #fff;
                    font-size: 14.4px;
                    padding: 10px 0;
                    text-decoration: none;
                }
            }
            img {
                margin: 0 0 10px 10px;
                float: right;
                @media #{$tablet} {
                    max-width: 55%;
                }
                @media #{$tablet} {
                    max-width: 50%;
                }
            }

        }
    }
    &#post-273 {
        .entry-content {
            a {
                color: #00685d;
                &.imageholder {
                    @media #{$phone} {
                        width: 100%;
                        text-align: center;
                        margin: 15px auto 30px auto!important;
                        clear: both;
                        img {
                            margin: 0 auto;
                        }
                    }
                }
            }
            p:first-of-type strong {
                font-size: 18px;
                line-height: 21.6px;
            }
            table {
                border-collapse: collapse;
                border-spacing: 0;
                td {
                    font-size: 12px;
                    line-height: 12px;
                }
                @media #{$mobile} {
                    max-width: 90%!important;
                    width: 90%!important;
                    margin-left: auto!important;
                    margin-right: auto;
                }

            }
        }
    }
    &#post-16 {
        .entry-content {
            a {
                color: #00685d;
            }
        }
    }
    &#post-25 {
        .entry-content {
            .col-sm-6 {
                padding-bottom: 30px;
            }
        }
    }



}
body.search {
    #content {
        background: #C4C0A0 url("/wp-content/themes/dsbrown/images/content-bg.png") 0 0 repeat-x;
        padding-bottom: 30px;
        article {
            background: none!important;
        }
    }
}
/* Links Page */
.page-id-273 {
    section {
        &.entry-content {
            > div {
                @include make-md-column(12);
                > a {
                    margin-top: 5px!important;
                }
            }
        }
    }

}
