
$black: #000;
$gurka: #9d986d;
$bluestone: #00685d;
$midnightblue: #002c5f;
$stiletto: #a33038;
$avacodo: #999966;
@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.page-template-default:not(.home) {
    .container {
        max-width: 925px!important;
    }
    .content-container {
        max-width: 925px!important;
        .entry-content {
            min-height: 400px;

            padding-bottom: 50px;
            .lg-content,
            .md-content,
            .xl-content {
                img {
                    border: solid 2px #D8D8C0;
                }
            }

        }
    }
}
.content-container {
    font-size: 12px;
    line-height: 1.8em;
    margin-bottom: 1em;
    max-width: 870px;
    h1 {
        padding-left: 15px;
        + br {
            display: none;
            + br {
                display: none;
            }
        }
    }
    .resources-content {

    }
    h2 {
        font-size: 14px;
        line-height: 1;
        margin-bottom: 15px;
    }
    h1,
    h2,
    a {
        color: $black;
        &:hover {
            color: $black;
        }
    }
    p {
        font-size: inherit;
        line-height: inherit;
        margin-bottom: 1em;
        a {
            color: $avacodo;
            &:hover {
                color: $avacodo;
                text-decoration: underline;
            }
        }
    }
    h3 {
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 10px;
    }
    ul {
        ul {
            margin: 0;
        }
        li {
            font-size: 12px;
            p {
                font-size: 12px;
            }
        }
    }
    article {
        background: #C4C0A0 url( '/wp-content/themes/dsbrown/images/content-bg.png' ) 0 0 repeat-x;
        // @include linearGradient(#ffffff, $gurka);
    }
    .menu-content {
        ul {
            li {
                font-size: 15px;
                line-height: 1;
                a {
                    font-size: 15px;
                    line-height: 1;
                }
            }
        }
        a {

        }
        h2 {
            font-size: 1.1em;
            line-height: 1.5;
        }
        hr {
            background-color: #C0C0C0;
            border-style: inset;
            width: 95%;
            height: 1px;
            margin: 6px 0;
        }
    }
}
.content-wrapper {
    &.architectural {
        background: $gurka;
        h1,
        h2,
        h3,
        a {
            color: $gurka;
            &:hover {
                color: $gurka;
            }
        }
        article {
            @media #{$mobile} {
                background: #dedcc9 url("/wp-content/themes/dsbrown/images/content-bg-light.jpg") 0 0 repeat-x;
            }
        }
    }
    &.bridges {
        background: $bluestone;
        h1,
        h2,
        h3,
        a {
            color: $bluestone;
            &:hover {
                color: $bluestone;
            }
        }
    }

    &.pavements {
        background: $midnightblue;
        h1,
        h2,
        h3,
        a {
            color: $midnightblue;
            &:hover {
                color: $midnightblue;
            }
        }
    }
    &.concrete {
        background: $stiletto;
        h1,
        h2,
        h3,
        a {
            color: $stiletto;
            &:hover {
                color: $stiletto;
            }
        }
    }
    &.about-us {
        // background: $bluestone;
        h1,
        h2,
        h3,
        a {
            color: $bluestone;
            &:hover {
                color: $bluestone;
            }
        }
        h2 {
            > a {
                color: #fff!important;
            }
        }
        li {
            > h2 {
                > a {
                    color: $bluestone!important;
                }
            }
        }
    }
}
.resources-content {
    line-height: 1;

    > div {
        color: #fff;
        font-weight: 700;
        font-size: 1.4em;
        text-align: center;
        padding: 10px 0;
        margin-bottom: 10px;
        > p {
            color: inherit;
            font-weight: inherit;
            font-size: inherit;
            text-align: center;
            padding: 0;
            margin: 0;
        }
    }
    br {
        display: none;
    }
    h2 {
        font-size: 15px;
        margin-bottom: 15px;
        a {
            font-size: inherit;
            line-height: 1.5;
            font-weight: 400;

        }
    }
    a {
        font-size: 12px;
        img {
            padding: 8px 0;
        }
    }
    ul {
        margin: 0 0 15px 20px;
        padding-left: 0;
        li {
            br {
                display: block;
            }
            a {
                font-weight: 400;
            }
            &.resourcedownload {
                h3 {
                    + h3 {
                        @media #{$tablet} {
                            margin-left: 15px!important;
                        }
                    }
                    @media #{$tablet} {
                        float: left!important;
                    }
                }
            }
        }
    }
    img[src*="WebButton_WithCart_Blue"] {
        max-width: 130px;
    }

    #resources-bridges {
        @include linearGradient(#42B2A6, #00695e);
    }
    #resources-pavements {
        @include linearGradient(#4777a8, #00193d);
    }
    #resources-architectural {
        @include linearGradient(#bfbc94, #949063);
    }
    #resources-concrete {
        @include linearGradient(#c6686f, #881e20);
    }
    @media #{$mobile} {
        padding-top: 20px;
    }
}
article {
    .image-center {
        margin-bottom: 10px;
        img {
            margin-bottom: 10px;
            @media #{$mobile} {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        text-align: center;
        p {
            text-align: center;
        }
        span {
            text-align: center;
        }
        font-size: 12px;
        line-height: 1;
        font-weight: 700!important;
        p,
        span,
        h4 {
            margin-top: 0!important;
            font-size: 12px;
            line-height: 1;
            font-weight: 700!important;
        }
        a {
            margin-top: 10px;
        }

        @media #{$phone} {
            img {
                margin: 10px auto;
            }
        }
    }
    h4 {
        font-size: 12px;
        line-height: 1;
        font-weight: 700!important;
    }
    .image-right {
        float: right;
        margin: 10px 0 10px 10px;
        clear: both;
        img {
            margin-bottom: 10px;
        }
        @media #{$phone} {
            float: right;

        }
    }
    .image-left {
        float: left;
        margin: 10px 10px 0 10px;
        img {
            margin-bottom: 10px;
        }
    }
    .image-size {
        > p {
            font-size: 12px;
            font-weight: 700;
            text-align: center;
        }
        &.two-third {
            width: 66%;
            > .half {
                width: 47%;
                float: left;
                margin-left: 10px;
            }
        }
        &.half {
            width: 50%;
            &.smaller {
                width: 40%;
            }
        }
        &.third {
            width: 30%;
        }
        &.quarter {
            width: 25%;
        }


    }
    ol, ul {
        margin-left: 0;
        padding-left: 20px;
    }
    h4 {
        &.caption {
            font-size: 12px;
        }
    }
}
