
<h1>About D.S. Brown<a name="top"></a></h1>
<ul class="col-md-6 plain">
    <li><h2><a href="#profile">Company Profile</a></h2></li>
    <li><h2><a href="#products-overview">Products Overview</a></h2></li>
    <li><h2><a href="#markets">Markets</a></h2></li>
    <li><h2><a href="#mission-statement">Mission Statement</a></h2></li>
    <li><h2><a href="#operations">Operations</a></h2></li>
</ul>
<ul class="col-md-6 plain">
    <li><h2><a href="#vision-statement">Vision Statement</a></h2></li>
    <li><h2><a href="#engineering">Engineering</a></h2></li>
    <li><h2><a href="#core-values">Core Values</a></h2></li>
    <li><h2><a href="#signature-projects">Signature Projects</a></h2></li>
    <li><h2><a href="employment">Employment</a></h2></li>
</ul>
<div class="col-md-12">
<p><a name="Profile"></a></p>
<h2 class="anchor-item"><a id="Profile">Company Profile</a></h2>
<p>Founded in 1890, The <strong>D.S. Brown Company</strong> is a leading worldwide designer, supplier and manufacturer of engineered products for the bridge and highway industry. D.S. Brown's home office and manufacturing facilities are located in North Baltimore, Ohio.</p>
<p>D.S. Brown is <strong>fully integrated</strong>, performing and controlling all manufacturing processes internally:</p>
<ul>
    <li>Research and Development</li>
    <li>Engineering Design/CAD Detailing</li>
    <li>Extruding, Molding and Testing</li>
    <li>Custom Steel Fabrication and Machining</li>
</ul>
<p></p>
<p><a href="#top"> >> Back to Top << </a></p>
<p><a name="Markets"></a></p>
<h2 class="anchor-item"><a id="Markets">Markets</a></h2>
<div class="row">
    <div class="col-md-6">
        <p>D.S. Brown's <strong>primary markets</strong> are the transportation infrastructure construction markets with special emphasis on bridges and concrete pavement. Within these markets, D.S. Brown conducts business throughout North America, Asia, the Pacific Rim, India and the Middle East.</p>
        <p><a href="Employment.aspx"> >> Employment << </a><br>
           <a href="#top"> >> Back to Top << </a></p>

    </div>
    <div class="col-md-6">
        <img  src="/wp-content/uploads/2017/04/poltbevd.gif" />
    </div>
</div>
<p>       <a name="Operations"></a></p>
<h2 class="anchor-item"><a id="Operations">Operations</a></h2>
<div class="row">
    <div class="col-md-6">
        <p>D.S. Brown's operations are fully integrated, with <strong>synthetic rubber processing</strong>, <strong>steel fabrication</strong> and <strong>CNC machining</strong> being core competencies. Services also include: <a href="/Resources/PDF/AISC_Cert_2017_DSB.pdf" target="_blank">AISC Certification in accordance with the Standard for Bridge and Highway Metal component Manufacturers (CPT) with endorsement "P" (sophisticated paint system)</a> and <a href="/Resources/PDF/SKMBT_55214062011420.pdf" target="_blank">CSA Standard W47.1 "Certification of Companies for Fusion Welding of Steel" in DIVISION 1</a>.</p>
        <p></p>
        <p><a href="employment"> >> Employment << </a><br>
           <a href="#top"> >> Back to Top << </a></p>
    </div>
    <div class="col-md-6">
        <img  src="/wp-content/uploads/2017/04/Operations.jpg" />
    </div>
</div>


<p>       <a name="Engineering"></a></p>
<h2 class="anchor-item"><a id="Engineering">Engineering</a></h2>
<div class="row">
    <div class="col-md-6">
        <img src="/wp-content/uploads/2017/04/engineering.jpg" />

    </div>
    <div class="col-md-6">
        <p>D.S. Brown maintains an <strong>engineering</strong> staff at the corporate office in North Baltimore, Ohio. D.S. Brown's engineering capabilities far exceed the industry norm and enable the company to tackle construction projects with engineered solutions to meet specific project requirements.</p>
        </p>
        <p><a href="Employment.aspx"> >> Employment << </a><br>
                <a href="#top"> >> Back to Top << </a></p>
    </div>
</div>


<p>       <a name="signature"></a></p>
<h2 class="anchor-item">
           <a id="signature">D.S. Brown Bridge and Pavement Signature Projects</a><br>
       </h2>
<div class="row">
   <div class="col-md-6">
       <p>
                   <a href="#" onclick="window.open('./FlashGallery.htm', '_blank', 'location=no, menubar=no, resizable=no, status-no, width=820,height=540')">Click here to load the D.S. Brown Interactive Flash Presentation</a>
              </p>
       <p>
                  <a href="/Resources/DSBrown_Signature_Projectslowres.pdf" target="_blank">Please view our Signature Projects Portfolio</a>
              </p>
       <p><a href="#top"> >> Back to Top << </a></p>


   </div>
   <div class="col-md-6">
       <img src="/wp-content/uploads/2017/04/HomerHadPaper1.jpg" />
   </div>
</div>



<p>       <a name="products-overview"></a></p>
<h2 class="anchor-item"><a>Products Overview</a></h2>
<div style="margin: 15px 0 15px 40px"><iframe width="640" height="390" src="https://www.youtube.com/embed/07C9iSCl-5U" frameborder="0" allowfullscreen=""></iframe></div>
<p><a href="#top"> >> Back to Top << </a></p>
<p>       <a name="mission-statement"></a></p>
<h2 class="anchor-item"><a>Mission Statement</a></h2>
<p>To be a global leader in providing structural movement, protection, and repair solutions to the bridge, pavement, and industrial infrastructure markets.  This mission will be achieved through relentless pursuit of:</p>
<ul>
    <li>a mutually rewarding relationship with employees,</li>
    <li>world class quality and customer service,</li>
    <li>investment in innovation,</li>
    <li>continual reduction of operational costs,</li>
    <li>and promotion of our brands.</li>
</ul>
<p><a href="#top"> >> Back to Top << </a></p>
<p>       <a name="vision-statement"></a></p>
<h2 class="anchor-item"><a>Vision Statement</a></h2>
<p>Bridge the World with Leading Infrastructure Solutions</p>
<p>       <a name="core-values"></a></p>
<h2 class="anchor-item"><a>Our Core Values</a></h2>
<p>We are committed to maintaining the highest level of integrity in our business dealing with people, organizations, and local, state, federal and foreign governments.  Our organization has a long established and outstanding reputation for the highest ethical standards. We take pride in our reputation and consider it a foundation for future success and integral to the strength of our brand.  Our core values include:</p>
<ul>
<li>
<h3>Our Customers:</h3>
<p>We consider customer loyalty our greatest reward.  We are committed to providing best value by offering the highest quality products and services at competitive prices.
            </p>
</li>
<li>
<h3>Our Suppliers:</h3>
<p>We are committed to engaging our suppliers with the highest integrity and with the goal of building long lasting business relationships.
            </p>
</li>
<li>
<h3>Our Team:</h3>
<p>We are committed to treating fellow team members with dignity and mutual respect.  We value diversity, teamwork, continuous development, and innovation.  We strive to provide a safe and healthy work environment and an atmosphere of open communication with all team members.  We recognize the importance in being accountable and showing pride, enthusiasm, and dedication in all that we do.</p>
</li>
<li>
<h3>Our Shareholders:</h3>
<p>We are committed to providing a superior return on investment to our shareholders through responsible and prudent use of corporate resources and by observing the highest level of legal and ethical conduct.</p>
</li>
<li>
<h3>Our Community:</h3>
<p>We will continue to be an active and responsible corporate citizen within the communities we operate.</p>
</li>
</ul>
<p><a href="#top"> >> Back to Top << </a></p>
</div>
