.gradient {
	background: #ffffff;
	&.gurka {

	}
}
@mixin gradient($top, $bottom) {
    background: $top;
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%);
    background: -webkit-linear-gradient(top,  $top 0%, $bottom 100%);
    background: linear-gradient(to bottom,  $top 0%, $bottom 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='$bottom',GradientType=0 );

}

article {
    &.post-9 {
        @include gradient(#ffffff, $gurka);
    }
}
